<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; {{ build.timestamp | dateToFormat('yyyy') }} {{meta.author}}</span>
        <a href="{{meta.repository}}/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
    </div>
</footer>